body {
	background: #212121;
	color: white;
	font: 16px Montserrat, sans-serif;
}
a { color: white; }
.bottom-hr {
	border-bottom: 2px solid #f5622cc0;
	padding: 4px;
}
#header					{ font-size: 32px; }
#icon					{ width: 40px; }
#social-media-container	{ float: right; }
#activity				{ font-size: 24px; }
#body, #log-container	{ text-align: center; }
#log 					{ color: #a0a0a0; }